@model IPagedList<ProductListViewModel>
<div id="ProductsList">

    <div class="pagedList pull-right" data-otf-target="#ProductsList">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
    PagedListRenderOptions.PageNumbersOnly)

    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>SKU</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td width="20%">
                    <div>
                        <img src=@item.ImagePath />
                    </div>
                </td>
                <td width="50%">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td width="30%">@Html.DisplayFor(modelItem => item.SKU)</td>

            </tr>
        }
        </tbody>
    </table>
</div>